.App {
  background-color: #252525;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  color: white;
}
.App > *:nth-child(1) {
  background: linear-gradient(to right, #6efaf8, #f576ad);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --vh: 1vh;
}

@media only screen and (max-width: 750px) {
  .App {
    font-size: 1.2rem;
  }
}
