.fileStructure {
  cursor: pointer;
  width: 90%;
  max-width: 1000px;
  height: calc(var(--vh, 1vh) * 100 - 120px);
  overflow: auto;
  background-color: #121212;
  padding: 10px;
  border-radius: 10px;
  -webkit-tap-highlight-color: transparent;
}
.folderItems {
  padding-left: 15px;
}

.folderName > span {
  margin-left: 5px;
}
.folderName.close + .folderItems {
  display: none;
}
.file {
  display: flex;
  gap: 5px;
  border-left: 2px solid rgba(77, 76, 76, 0.929);
}
.file > img {
  margin-left: 3px;
}
.fileStructure div {
  margin: 7px 0;
}
.folderName.close > .fa-folder-open {
  display: none;
}
.folderName > .fa-folder {
  display: none;
}
.folderName.close > .fa-folder {
  display: initial;
}
